.main__launchitems-container-info {
  position: absolute;
  right: 0;
  padding-right: 1rem;
  text-align: right;

  .main__launchitems-container-rocketname {
    font-weight: bold;
    font-size: 1.3rem;
  }
}
